.section-content {
  &.section-about {
    height: 300px !important;
    border: 1px solid green !important;
    .about-content {
      display: flex;

      .about-content-left {
        width: 50%;
      }
      .about-content-right {
        width: 50%;
      }
    }
  }
  .section-header {
    font-size: 1.2rem;
    font-weight: bold;
    color: orange;
  }
  margin: 0 auto;
  height: 200px;
  width: 90%;
  background: white;
  border: 1px solid black;

  .item {
    display: flex !important;
    padding: 20px 20px;
    flex-direction: column;

    .img {
      height: 120px;
      border: 1px solid green;

      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  .btn-section {
    float: right;
    color: white;
  }

  button {
    background-color: blue !important;
  }
}

#homeFooter {
  text-align: center;
  background-color: aquamarine;
}
