.home-header-container {
  height: 60px;
  border: 1px solid red;
  width: 100%;

  padding: 0 20px;
}
.home-header-content {
  width: 100%;
  height: 100%;
  display: flex;

  .left-content {
    width: 25%;
    border: 1px solid green;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .header-logo {
      width: 60px;
      height: 50px;
      background-image: url("../../assets/images/mainlogo.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    i {
      font-size: 25px;
      color: grey;
      cursor: pointer;
    }
  }

  .center-content {
    font-size: 0.8rem;
    width: 50%;
    border: 1px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .child-content {
      .sub-title {
        font-weight: 400;
        font-size: 0.8rem;
      }
    }
  }
  .right-content {
    width: 25%;
    border: 1px solid blue;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    i {
      color: blue;
    }
    .support{
      padding-right: 50px;
      display: flex;
      align-items: center;
      cursor: pointer;

      i{
        font-size: 15px;
        margin-right: 5px;
      }
    }
    .language-VN{
      cursor: pointer;
      &.active{
        color: orange
      }
    }
    .language-EN{
      margin: 0 10px;
      cursor: pointer;
      &.active{
        color: orange
      }
    }
  }
}
.home-header-banner {
  display: flex;
  flex-direction: column;
  height: 500px;
  background-image: url("../../assets/images/bg3.jpg");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px 0;

  .content-up {
    background-image: linear-gradient(
      rgba(126, 126, 126, 0.25),
      rgba(255, 255, 255, 0.1)
    );
    height: 65%;
    .title1 {
      text-align: center;
      font-size: 30px;
      color: white;
      text-shadow: 1px 1px 1px #333;
      margin-bottom: 15px;
    }
    .title2 {
      text-align: center;
      font-size: 30px;
      color: white;
      text-shadow: 1px 1px 1px #333;
      margin-bottom: 15px;
    }

    .search {
      display: flex;
      justify-content: center;
      border: 1px solid lightblue;
      width: fit-content;
      margin: 0 auto;
      align-items: center;
      padding: 10px;
      width: 300px;

      border-radius: 26px;
      background-color: lightblue;
      i {
        margin: 0 5px;
      }
      input {
        height: 30px;
        width: 220px;
      }
    }
  }

  .content-down {
   
    height: 35%;
    border: 1px solid gray;
    display: flex;
    align-items: flex-end;
    .options {
    
      height: 100px;
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: center;

      gap: 30px;
      .option-child {
        width: 100px;
        border: 1px solid yellow;
        .icon-child {
          height: 40px;
          width: 40px;
          background-color: lightblue;
          width: fit-content;
          margin: 0 auto;

          padding: 10px;
          border-radius: 50%;
          i {
            color: blue;
            font-size: 20px;
          }
        }
        .text-child {
          font-size: 16px;
          font-weight: 500;
          color: whitesmoke;
          cursor: pointer;
          &:hover {
            color: orange;
            font-weight: 600;
          }
        }
      }
    }
  }
}
